{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<style type="text/css">

</style>

<div class="page-header">
    <h1>
    {% if current_user.username == 'admin' -%}    
    	<select id = "city_select" class="selectpicker" >
    		{% for city in cities -%}
		  		<option value ="{{ city }}">{{city}}</option>
			{% endfor %}
		</select>	
	    <h4>
		<table data-toggle="table" 
			   id="authorize_table"
			   data-toggle="table"
		       data-pagination="true"
		       data-show-export="true"
		       data-show-refresh="true"
		       data-toolbar="#entry_toolbar"
		       data-url="{{ url_for('auth.query_all_data') }}"
		>
	    <thead>
	        <tr>
	        	<th data-field="state" data-checkbox="true"></th>
	        	<th data-field="index" data-checkbox="true" class="hidden">index</th>
	        	<th data-field="username"  data-editable="false">username</th>
	            <th data-field="task_from" data-editable="false">task_from</th>
	            <th data-field="task_to" data-editable="false">task_to</th>
	            <th data-field="task_name" data-editable="false">task_name</th>
	            <th data-field="task_id" data-editable="false" class="hidden">task_id</th>
	            <th data-field="orgnizition" data-editable="false">orgnizition</th>
	            <th data-field="level" data-editable="false">level</th>
	            <th data-field="datetime" data-editable="false">datetime</th>
	            <th data-field="params" data-editable="false">params</th>
	        </tr>
	    </thead>
		</table>
		</h4>
		<h3>
		<div class="row">
			<div class="col-md-1 col-md-offset-9" >
				<h3><a id = "accept_task_btn"  class="btn btn-success" role="button">审核通过</a>
			</div>
			<div class="col-md-1" >
				<h3><a id = "deny_task_btn" class="btn btn-danger" role="button">审核拒绝</a>
			</div>
		</div>
		</h3>
	{% else %}
			{{ url_for('main.index') }}
    {% endif %}
    </h1>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

$(document).ready(function(){	
		
});

</script>
{% endblock %}


