
{% if current_user.username == 'admin' -%}
<div class="row">
        <div class="col-md-2" >
        	<h4>请选择地区<h4>
        </div>
        <div class="col-md-1" >
	    	<select id = "query_city_select" class="selectpicker" >
	    		{% for city in cities -%}
			  		<option value ="{{ city }}">{{city}}</option>
				{% endfor %}
			</select>
		</div>
</div>
{% endif %}

<h4>
<table data-toggle="table"
       id="query_result_table"
       data-pagination="true"
       data-show-export="true"
       data-show-refresh="true">
    <thead>
        <tr>
        	<th>编号</th>
            <th>姓名</th>
            <th>检查任务</th>
            <th>检查地区</th>
            <th>检查机构</th>
            <th>检查层级</th>
			<th>提交时间</th>
			<th>任务状态</th>
			<th>执行结果</th>
        </tr>
    </thead>
    </tbody>
		{% for val in tbvals -%}
		<tr>
			<td>{{val[9]}}</td>
			<td>{{val[0]}}</td>
            <td>{{val[1]}}</td>
            <td>{{val[2]}}</td>
            <td>{{val[3]}}</td>
            <td>{{val[4]}}</td>
			<td>{{val[5]}}</td>
			<td>{{val[6]}}</td>
			<td>
				{% if val[7] == 1 %}
					<a href="{{ url_for('auth.query_result', task_id = val[8]) }}">查看</a>
				{% endif %}
			</td>
		</tr>
		{%- endfor %}
	</tbody>
</table>
</h4>

