
<style type="text/css">
	#submit_task_params_button{
	    float:right;
	}
	#backward3{
	    float:right;
	    width:90px;
	}
</style>

<h4>
<table data-toggle="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>检查任务</th>
            <th>检查地区</th>
            <th>检查机构</th>
            <th>检查层级</th>
            <th>起始日期</th>
            <th>结束日期</th>
			<th>参数</th>
			<th>提交时间</th>
        </tr>
    </thead>
    </tbody>
		<tr>
		{% for val in task_information -%}
			<td> {{ val }} </td>
		{%- endfor %}
		</tr>
	</tbody>
</table>
</h4>

<form method="POST" action="{{ url_for('auth.task',step = 1) }}">
	
    {{ task_submit_form.hidden_tag() }}
    
	<div class="row" >
	<div class="col-md-1 col-md-offset-10" >
	<h3><a id = "backward3" href={{url_for('auth.task',step = 2)}} class="btn btn-danger" role="button">返回上一步</a>
	</div>
	<div class="col-md-1 success" id = "submit_task_params_button">
	<h3>{{ wtf.form_field(task_submit_form.submit_task, button_map={'submit_task':'success'}) }}</h3>
	</div>
	</div>
	
</form>


